.flex {
    display: flex;
}

.sidebar {
    background-color: #5065a8;
    height: 93vh;
    padding: 5px;
    padding-top: 8px;
    width: 130px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

