<mat-toolbar>

    <nav>
        <div class="logo">
            <h2>
                <img [src]="img" width="60px" height="60px">IT-Training
            </h2>
        </div>    
        <ul>
            <li>
                <a routerLink="/Home" >Accueil</a>
            </li>
            <li>
                <a routerLink="/aPropos" >A Propos </a>
            </li>
            <li>
                <a routerLink="/formations" >NOS Formations</a>
            </li>
            <li>
                <a routerLink="/Contactez-Nous" >Contactez-Nous</a>
            </li>
            <li>
                <button routerLink="/inscription">Inscription</button>
            </li>
            <li>
                <button routerLink="/connexion" >Connexion</button>
            </li>
        </ul>      
    </nav>
     
</mat-toolbar>
